<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<body>
<div class="container">

<div class="row justify-content-center">
<div class="col-md-6">
<div class="card">
<header class="card-header">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<a href="/login" class="float-right btn btn-outline-primary mt-1">Log in</a>
	<h4 class="card-title mt-2" style="color:white;">Sign up</h4>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">	</script>

	<script>

		$(document).ready(function(){
			$("#submitButton").click(function(){
				$.ajax({
					data:{
						first_name: $("#f_name").val(),
						last_name: $("#s_name").val(),
						password: $("#pass").val(),
						email: $("#email").val(),
						city : $("#city").val(),
						sex : $("#sex").val(),
						inputState : $("#inputState").val()
					},
					type: 'POST',
					url: '/enroll/user'
				})
				.done(function(data){
					if(data.error){
						$("#errorAlert").css("display", "inline-block");
						$("#errorAlert").addClass("alert-" + data.type);
						$("#errorAlert").text(data.error).show();

					}else{
						$("#errorAlert").hide();
					}
					$("#f_name").val("");
					$("#s_name").val("");
					$("#pass").val("");
					$("#email").val("");
					$("#city").val("");
				});
				event.preventDefault();
			});
		});

	</script>
    
    <style>
        body, article, header{
        background-image: url('http://getwallpapers.com/wallpaper/full/3/5/7/170948.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        font-family: 'Numans', sans-serif;
        }
    </style>

</header>
<article class="card-body">
<form> 
	<div class="form-row">
		<div class="col form-group">
			<label style="color:white;"> First name </label>   
		  	<input type="text" id = "f_name" class="form-control" placeholder="First Name">
		</div> <!-- form-group end.// -->
		<div class="col form-group">
			<label style="color:white;">Last name</label>
		  	<input type="text" id = "s_name" class="form-control" placeholder="Last Name">
		</div> <!-- form-group end.// -->
	</div> <!-- form-row end.// -->
	<div class="form-group">
		<label style="color:white;">Email address</label>
		<input type="email" id = "email" class="form-control" placeholder="Type your email">
		<small class="form-text text-muted">We'll never share your email with anyone else.</small>
	</div> <!-- form-group end.// -->
	<div class="form-group">
		<label style="color:white;">Sex</label>
		  <select id="sex" class="form-control">
		      <option selected="">Male</option>
		      <option>Female</option>
		  </select>
	</div> <!-- form-group end.// -->
	<div class="form-row">
		<div class="form-group col-md-6">
		  <label style="color:white;">City</label>
		  <input type="text" id = "city" class="form-control">
		</div> <!-- form-group end.// -->
		<div class="form-group col-md-6">
		  <label style="color:white;">Country</label>
		  <select id="inputState" class="form-control">
		      <option selected="">Brazil</option>
		      <option>Russia</option>
		      <option>United States</option>
		      <option>India</option>
		      <option>China</option>
		  </select>
		</div> <!-- form-group end.// -->
	</div> <!-- form-row.// -->
	<div class="form-group">
		<label style="color:white;">Create password</label>
	    <input class="form-control" type="password" id = "pass">
	</div> <!-- form-group end.// -->  
    <div class="form-group">
        <button type="submit" id="submitButton" class="btn btn-primary btn-block"> Register </button>
	</div> <!-- form-group// -->      
	<div class="alert" id="errorAlert" style="display: none; margin-top: 25px;"></div>
    <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>                                          
</form>
</article> <!-- card-body end .// -->
<div class="border-top card-body text-center">Have an account? <a href="/login">Log In</a></div>
</body>